@model ShoppingStationery.Models.NguoiDung

@{
    ViewData["Title"] = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app app-404-page">
	<div class="container mb-5">
		<div class="row">
			<div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
				<div class="app-card p-5 text-center shadow-sm">
					<h4 class=" mb-4">Bạn không có quyền truy cập chức năng này!<br></h4>
					<div class="mb-4">
						Liên hệ quản trị viên để có quyền truy cập
					</div>
					<a class="btn app-btn-primary" asp-controller="Home" asp-action="Index">Trở về trang quản lý</a>
				</div>
			</div><!--//col-->
		</div><!--//row-->
	</div><!--//container-->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
