@model ShoppingStationery.Models.ChiTietDeNghiM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white d-flex justify-content-center">
                    <div>
                        <h4 class="mb-0 text-white">Xóa phiếu đề nghị mua sắm</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center mb-4 tex">Bạn có chắc chắn muốn xóa chi tiết này phiếu này?</h5>
                    <form asp-action="Delete">
                        <div class="form-group">
                            <label asp-for="MaVppNavigation.TenVpp" class="control-label">Tên văn phòng phẩm</label>
                            <input asp-for="MaVppNavigation.TenVpp" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="Dvt" class="control-label">Đơn vị tính</label>
                            <input asp-for="Dvt" class="form-control" readonly />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="SoLuong" class="control-label">Số lượng</label>
                            <input asp-for="SoLuong" class="form-control" readonly />
                        </div>                        
                        <div class="form-group mb-3">
                            <label asp-for="Lydo" class="control-label">Lý do</label>
                            <input asp-for="Lydo" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["ErrorMessage"]
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="MaDnms" />
                            <input type="hidden" asp-for="MaVpp" />
                            <a asp-action="Index" asp-route-idMaDnms="@TempData["IdMaDnms"]" class="btn btn-secondary me-1 ml-1 float-start">Trở về danh sách</a>
                            <input type="submit" value="Xóa" class="btn btn-danger text-white" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
